.map-main {
  margin: 0;
  max-width: 768px;
}

#map-container {
  max-width: 768px;
}

#map {
  height: calc(100vh - 80px);
  position: relative;
}

#map > * {
  position: absolute;
}

.align-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.map-explain {
  background-color: #0046f77f;
  top: 15%;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  width: 50%;
  height: 38px;
  border-radius: 20px;
  z-index: 2;
  text-align: center;
  line-height: 38px;
  font-weight: 300;
}

#pointer {
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #0044f75a;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
}

.button-container {
  z-index: 2;
  bottom: 20px;
  right: 20px;
}
