body, * {
  font-family: 'Inter', sans-serif;
}

html {
  font-size: 12px;
}

body {
  max-width: 768px;
  min-width: 200px;
  width: 100vw;
  color: white;
  background-color: #252834;
  box-sizing: border-box;
}

.point {
  color: #0047FF;
}

.main-container {
  width: 100vw;
}

/* 어디다 쓰이는 거지 이건  */
.full {
  width: 100vw;
}

.strong_font {
  font-weight: 400;
}

.big_font {
  font-size: 3rem;
}
