#destination-container {
  width: 600px;
  height: 156px;
  background-color: #fff;
  color: black;
  position: absolute;
  left: 50%;
  bottom: 0px;
  transform: translateX(-50%);
  z-index: 2;
  display: flex;
}

.img-container {
  width: 15%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-container img {
  width: 32px;
  height: 32px;
}

.arrow {
  transition: all ease 0.5s;
  transform: rotate( 180deg );
}

.rotate{
  transition: all ease 0.5s;
  transform: rotate( 360deg );
}

.dest-info-container {
  width: 85%;
}

.dest-depart-container, .dest-arrive-container {
  height: 50%;
}



.split-line {
  width: 100%;
  height: 2px;
  background-color: #ddd;
}
#destination {
  z-index: 2;
  width: 100%;
  height: 160px;
  background-color: white;
  bottom: 0%;
  color: black;
  display: flex;
  padding: 10px;
}

.left {
  width: 15%;
  height: 100%;
}

.right {
  width: 85%;
  height: 100%;
}

.dest-depart,
.dest-arrive {
  height: 50%;
}

.div-line {
  width: 90%;
  height: 2px;
  background-color: #ddd;
}

.arrow {
  transition: all ease 0.5s;
  transform: rotate(180deg);
}

.rotate {
  transition: all ease 0.5s;
  transform: rotate(360deg);
}

.dest-depart,
.dest-arrive {
  display: flex;
}

.title {
  width: 20%;
  text-align: center;
  line-height: 80px;
  font-size: 20px;
  font-weight: 300;
}

.location {
  width: 80%;
  line-height: 80px;
  font-weight: 500;
  font-size: 20px;
}
