.road-find-page__message {  
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #0050f0aa;
  color: #ffffff;
  padding: 10px 80px;
  border-radius: 30px;
  text-align: center;
  z-index: 2;
  font-size: 1.3rem;
}