header {
	width: 100%;
	height: 70px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

.milvis-logo {
	text-align: center;
	font-size: 2.5rem;
	font-weight: bold;
}

.nav-icon {
	position: absolute;
	right: 10%;
	top: 50%;
	transform: translateY(-50%);
}

.pc-header {
	display: none;
}

.side-bar {
	z-index: 999;
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100vw;
	height: 100vh;
	background: #252834db;
	padding-top: 3rem;
}

.side-bar-li {
	width: 100%;
	height: 70px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2rem;
	padding: 2rem 0px;
}

@media screen and (min-width: 768px) {
	header {
		justify-content: stretch;
	}

	.milvis-logo {
		width: 300px;
	}

	.mobile-header {
		display: none;
	}

	.pc-header {
		width: 100%;
		display: flex;
		justify-content: flex-end;
	}

	.nav-bar {
		width: 40%;
		max-width: 500px;
		height: 100%;
		display: flex;
		justify-content: space-evenly;
		margin-right: 4rem;
	}

	.side-bar-li {
		width: 50%;
		max-width: 100px;
		height: 100%;
		cursor: pointer;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 16px;
	}

	.side-bar-li:hover {
		border-bottom: 1px solid;
		font-weight: bold;
	}
}
