.container-departure-station {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.departure-point {
  background: #eeeeee;
  border-radius: 48px;
  width: 90%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  line-height: 26px; /*행간*/
  color: black;
  font-weight: bold;
}

.element-departure-station {
  width: 20%;
}
