/* * button  */
button {
  background-color: #0047FF;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

.search_button {
  /* max-width: 200px; */
  width: 100%;
}

.long_button {
  max-width: 250px;
  width: 90%;
}

.short_button {
  width: 100px;
}

button:disabled {
  background-color: #848484;
}