
.bus-date::-webkit-scrollbar {
  width: 10px;  /* 스크롤바의 너비 */
}
.bus-date::-webkit-scrollbar-thumb {
  height: 30%; /* 스크롤바의 길이 */
  background: #848484; /* 스크롤바의 색상 */
  border-radius: 10px;
}

.bus-date::-webkit-scrollbar-track {
  background: #84848447;  /*스크롤바 뒷 배경 색상*/
}

.container-bus-time {
  max-width: 768px;
  margin: 0 auto;
}

@media screen and (min-width: 1024px) {
  .container-bus-time {
    max-width: 1024px;
  }
}

.bus-content{
  max-width: 100%;
  height: calc(100vh - 250px);
  background-color: white;
  margin: 0 auto;
  text-align: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  overflow: scroll;
}