
.bus-date::-webkit-scrollbar {
  width: 10px;  /* 스크롤바의 너비 */
}
.bus-date::-webkit-scrollbar-thumb {
  height: 30%; /* 스크롤바의 길이 */
  background: #848484; /* 스크롤바의 색상 */
  border-radius: 10px;
}

.bus-date::-webkit-scrollbar-track {
  background: #84848447;  /*스크롤바 뒷 배경 색상*/
}



.bus-content{
  max-width: 100%;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: white;
  /* height: 650px; */
  border-radius: 10px;
}


.bus-content-time{
  max-width: 100%;
  height: 579px;
  overflow-y: scroll;
  display: flex;
  line-height: 42px;
  color:black;
  position: relative;
  margin: 0 auto;

}

